@import "~foundation-sites/scss/foundation";
$fa-font-path:   "../../node_modules/font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";
/* use true to make use of flexbox */
@include foundation-everything(true);

@mixin default-list-style {
  margin-left: 0;

  & li {
    margin: 5px 0;
    padding: 5px;
    list-style: none;

    border: 1px solid black;
  }
}

ol.events {
  @include default-list-style;

  & li.past {
    background-color: $light-gray;
    color: $dark-gray;
  }

  & li.current {
    background-color: $success-color;
  }
}

ol.trello-list {
  @include default-list-style;
}
